@page "/test"
@using PmsViz.Core.Interfaces;
@using PmsViz.Core.Dtos;

@inject IDataService dataService

<h1>Hello, world!</h1>
@foreach(var dto in mfsPosTuData)
{
    <a >@dto.mpos_ident</a>
    <br />
}

@code{

    List<DtoMfsPosTu> mfsPosTuData = new List<DtoMfsPosTu>();

    protected override async Task OnInitializedAsync()
    {
        mfsPosTuData = dataService.GetMfsPosTuData().ToList();
        // Use the data as needed
    }

}
