<div class="form-container">
    <h4 style="white-space:pre-wrap; overflow-wrap:anywhere">Current path: @CurrentPath</h4>
    <button @onclick="GoUp">Go up</button>
    <ul>
        @foreach(var folder in directories)
        {
            <li @onclick="()=>Navigate(folder)">
                @Path.GetFileName(folder);
            </li>
        }
    </ul>
</div>

@code {
    [Parameter]
    public string StartPath { get; set; } = @"c:\";
    [Parameter]
    public EventCallback<string> OnSelect { get; set; }

    private string CurrentPath;
    private List<string> directories = new();

    protected override void OnInitialized()
    {
        CurrentPath = StartPath;
        Load();
    }

    private void Load()
    {
        directories = Directory.GetDirectories(CurrentPath).ToList();
    }

    private void Navigate(string path)
    {
        CurrentPath = path;
        Load();
        OnSelect.InvokeAsync(CurrentPath);
    }

    private void GoUp()
    {
        var parent = Directory.GetParent(CurrentPath);
        if(parent!=null)
        {
            Navigate(parent.FullName);
        }
    }


}

<style>

   

</style>
