@foreach (var deviceId in MarkedDevices)
{
    var huDev = ZoneInGridHelper.GetHuInformation(Data, deviceId);
    @if (huDev !=  null)
    {
        <div class="dict-container">
            @foreach (var p in huDev)
            {
                <div>@p.Key</div>
                <div>@p.Value</div>
            }
        </div>
    }
    
}

@code {

    [Parameter]
    public AreaZoneInGridHelper ZoneInGridHelper { get; set; }
    [Parameter]
    public List<string> MarkedDevices { get; set; } = new();
    [Parameter]
    public List<Dictionary<string, object>> Data { get; set; } = new();

}

<style>
    .dict-container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:5px;
        border-style:solid;
        border-width:2px;
        border-color:blue;
        padding:10px;
    }
</style>
